.Column {
  background-color: green;
  width: 300px;
}
.TaskArea > h1 {
  background-color: greenyellow;
}

.allTasks {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 10px 0;
}
